@{
    ViewData["Title"] = "Om oss";
}
<div class="top-message">
<h2>@ViewBag.text</h2>

<p class="aboutpage-text">Vi är en idiell organisation som arbetar för hundens bästa. Ibland kommer livet i mellan och vi kan av olika orsaker
    behöva lämna vidare vår hund till ett annat hem. Det är en stort och svårt beslut. Men som ägare så ingår det i
    ansvaret att ta dessa svåra beslut som ibland kan vara för djurets och familjens bästa. Vi hjälper dig att göra det
    bästa av en svår situation</p>
<br><br>
@Html.Partial("_GoToButton")
    </div>